@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --cor1: #011526;
    --cor2: #012E40;
    --cor3: #025959;
    --cor4: #02735E;
    --cor5: #038C65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: url(https://1.bp.blogspot.com/-VJDnsurgotY/XeiGTU21krI/AAAAAAAAhQ0/17kX0zppMYQc2i0RJELlmrL9WGE53smMwCLcBGAsYHQ/s2560/mountain_reflections-1920x1080.jpg);
    background-position: center;
    background-color: var(--cor2);
    background-size: cover;
    background-repeat: no-repeat;
}



.menu-conteiner {
    width: 80px;
    height: 100%;
    background-color: var(--cor1);
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0px 0px var(--cor5);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menu-conteiner.btn-expandir {
    width: 300px;
    transition: 0.7s;
}

ul li.ativo {
    background-color: var(--cor4);
}

.menu-icon {
    width: 100%;
    padding-left: 15px;
}

.menu-icon>i {
    color: white;
    font-size: 26px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.menu-item {
    transition: 0.7s;
}

ul li.menu-item:hover {
    background-color: var(--cor5);
}

ul li.menu-item a {
    display: flex;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 40px 4%;
    margin-bottom: 45px;
    line-height: 30px;
}

.menu-item a .text-link {
    margin-left: 45px;
}

.menu-item a .icon-link>i {
    font-size: 30px;
    margin-left: 10px;
}


main {
    width: 100px;
    margin: 80px auto;
    height: 100px;
    border: solid 2px var(--cor1);
    border-radius: 50%;
    background-color: var(--cor5);
    box-shadow: 5px 5px 15px var(--cor2);
    position: relative;
}

main h1 {
    font: bolder 47px 'Dosis';
    color: var(--cor1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 3px 2px 3px var(--cor2);
    display: none;
}

main article>p {
    font: 400 24px 'Dosis';
    padding: 15px;
    text-indent: 15px;
    display: none;
}


.text-ativo {
    display: block;
}

.text {
    text-align: center;
}


.main-ativo {
    height: 300px;
    width: 500px;
    border-radius: 7px;
    transition: 0.7s;
}

#pequena {
    font: 200 16px 'Dosis';
    position: absolute;
    bottom: 0;
    right: 0;
}