
:root {
    --cor1:#011526 ;
    --cor2:#012E40 ;
    --cor3:#025959 ;
    --cor4:#02735E ;
    --cor5:#038C65 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}

