*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteiner {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#elemento {
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: move;
    background-color: white;
}