@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif, sans-serif;
   
    
}


body{
 font-size: 18.5px;
    background-image: linear-gradient(to left,  #026773,#3CA6A6);

}

main{
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 20px #023535ad;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 2px #008f8d99;

}

h2{
    text-align: center;
    color: #008F8C;
    padding: 3px;

}

p{
    text-align: justify;
    text-indent: 20px;
}

a{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    color: #008F8C;
    text-decoration: none;
  
       
}



a:hover{
    text-decoration: underline;
    font-size: 25px;
    color: red;
    box-shadow: 10px 15px 23px rgba(32, 31, 31, 0.767);
}



